@use 'base';
@use 'themes';
@use 'layout';
@use 'components';


@use 'utils' as *;

.main
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $max-size;
    gap: $gap-big;
    background-color: var(--color-bc-other);
}

.header
{
	@include header-props;
    align-items: center;
}

.navigator
{
	@include header-props;
    justify-content: center;
}

.box
{
    display: flex;
    flex-direction: column;
	@include respond-to(tablet) {
		flex: $flex-equally;
	}
}

.paragraph
{
	padding: rem($padding-island);
	&--odd
	{
		background-color: var(--color-bc-odd);
	}
	&--even
	{
		background-color: var(--color-bc-even);
	}
}

.title
{
	&--big
	{
		font-size:$font-big;
	}
	&--small
	{
		padding: $padding-island-horizontal;
	}
}

.diplomat
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $max-size;
    gap: $gap-big;
}

.preview
{
    width: $common-quarter;
    height: auto;
    max-width: $image-limit;
}

.footer
{
	text-align: center;
	vertical-align: middle;
    width: $max-size;
}

.feedback
{
	width: $max-size;
	text-align: right;
}

.button
{
	&:hover
	{
		color: red;
	}
	&:focus-visible
	{
		color: orange;
	}
	&:active
	{
		color: purple;
	}
	&:disabled
	{
		color: black;
	}
	&--top
	{
		color: var(--color-bc-odd);
	}
	&--bottom
	{
		color: var(--color-bc-even);
	}
}